= form_with(model: appointment, local: true) do |form|
  - if appointment.errors.any?
    #error_explanation
      %h2
        = pluralize(appointment.errors.count, "error")
        prohibited this appointment from being saved:
      %ul
        - appointment.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = form.label :title
    = form.text_field :title, class: "form-control"
  .field.form-group
    = form.label :description
    = form.text_area :description, class: "form-control"
  .field.form-group
    = form.label :booked_time
    =# form.datetime_select :booked_time, class: "form-control"
    = form.text_field :booked_time, class: "form-control", id: "datetimepicker"
  .field.form-group
    = form.label :address
    = form.text_field :address, class: "form-control"
  .field.form-group
    = form.label :notes
    = form.text_area :notes, class: "form-control"

  %h3 Patients
  #patients
    = form.fields_for :patients do |patient|
      = render "patient_fields", f: patient
    .links
      = link_to_add_association "add patient", form, :patients

  .actions.form-group.mt-5
    = form.submit class: "btn btn-success"



:javascript
  $('#datetimepicker').datetimepicker();
