!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Appointments
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        = link_to "Appointments", root_path, class: "navbar-brand"
        - if user_signed_in?
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              = nav_link("Home", root_path)
              = nav_link("Appointments", appointments_path)
              = nav_link("Patients", patients_path)

        - if user_signed_in?
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-warning"
        - else
          .form-inline.my-2.my-lg-0
            = link_to "Register", new_user_registration_path, class: "btn btn-info mr-sm-2"
            = link_to "Login", new_user_session_path, class: "btn btn-success"

    = yield
